.header_outer_container{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(148, 132, 132); */
    background-color:  rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition:all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
}
.nav__black{
    background-color:  rgb(20, 20, 20);
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}
.header_left ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    /* background-color: lightblue; */
}
.header_right ul{
    width: 150%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    /* background-color: lightgreen; */
}